/CheckedException.class
/CheckedException.java
/CheckedExceptionDemo.class
/CheckedExceptionDemo.java
/Executor.class
/Executor.java
/InvalidMarksException.class
/InvalidMarksException.java
/Service.class
/Service.java
/Student.class
/Student.java
/UncheckedException.class
/UncheckedException.java
